USE [Global_Terrorism]
GO
/****** Object:  StoredProcedure [dbo].[INDEX_TBLS]    Script Date: 7/13/17 1:21:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[INDEX_TBLS]
as
CREATE CLUSTERED INDEX IDX_001 on addnotes_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on alternative_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on approxdate_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on attacktype3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on city_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claim2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claim3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimed_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on claimmode3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on compclaim_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on corp1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on corp2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on corp3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on country_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on country_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on crit1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on crit2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on crit3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on dbsource_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on divert_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on doubtterr_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on extended_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gname_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gname2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gname3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gsubname_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gsubname2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on gsubname3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on guncertain1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on guncertain2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on guncertain3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on hostkidoutcome_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on hostkidoutcome_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on iday_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on imonth_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ingroup_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ingroup2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ingroup3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ishostkid_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on iyear_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on kidhijcountry_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on location_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on motive_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on multiple_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on natlty3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ndays_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nhostkid_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nhostkidus_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nhours_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nkill_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nkillter_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nkillus_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nperpcap_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nperps_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nreleased_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nwound_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nwoundte_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on nwoundus_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on propcomment_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on property_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on propextent_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on propextent_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on propvalue_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on provstate_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ransom_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ransomamt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ransomamtus_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ransomnote_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on ransompaid_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on region_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on region_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on scite1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on scite2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on scite3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on specificity_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on success_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on suicide_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on summary_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on target1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on target2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on target3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targsubtype3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on targtype3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on vicinity_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapdetail_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype4_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weapsubtype4_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype1_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype1_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype2_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype2_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype3_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype3_txt_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype4_TBL (percent_of_total desc);
CREATE CLUSTERED INDEX IDX_001 on weaptype4_txt_TBL (percent_of_total desc);